@media (min-width: 960px) {

    html {
        font-size: 12px;
    }

    body {
        font-family: 'Montserrat', sans-serif;
    }

    /* For header */

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    header nav {
        width: 100%;
        height: 10%;
        background: transparent;
        position: absolute;
        padding: 1%;
    }

    .upper-nav {
        width: 20%;
        float: left;
        padding: 1.2%;
    }

    .upper-nav h1 {
        padding: 0;
        margin-left: 30%;
    }

    .lower-nav {
        width: 45%;
        float: left;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 5%;
        font-size: 1.6rem;
        padding: 1.6%;
    }

    .lower-nav ul li {
        display: inline;
        padding: 0;
        margin: 0 2%;
    }

    .login {
        height: 100%;
        width: 25%;
        float: right;
        font-size: 1.6rem;
        font-weight: bold;
        color: #FFFFFF;
        padding: 0.5%;
        margin-right: 5%;
    }

    .login button{
        width: 60%;
        color: #FFFFFF;
        font-size: 1.2rem;
        font-weight: bold;
        background-color: #23A6F0;
        border: none;
        border-radius: 5px;
        margin-left: 10%;
        padding: 4%;
    }

    .login button img{
        margin-left: 10%;
    }

    .header-background {
        color: #FFFFFF;
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/hero_cover_desktop.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        padding: 15% 0;
    }

    .header-background h2 {
        font-size: 4.8rem;
        text-align: start;
        width: 40%;
        margin: 0 8%;
        margin-bottom: 5%;
    }

    .header-background p {
        font-size: 2.0rem;
        font-weight: normal;
        text-align: start;
        width: 45%;
        margin: 0 8%;
        margin-bottom: 3%;
    }

    .header-background button {
        display: inline-block;
    }

    .quote-button {
        margin-top: 2%;
        margin-left: 8%;
        width: 20%;
        padding: 1.5%;
        font-size: 1.4rem;
    }
    
    .learn-button {
        margin-top: 2%;
        margin-left: 1%;
        color: #FFFFFF;
        width: 15%;
        padding: 1.2%;
        border: solid 2px #FFFFFF;
        font-size: 1.4rem;
    }

    /* vectir section */

    .vector-section {
        padding: 5% 10%;
    }

    .vector-div {
        float: left;
        width: 33%;
    }

    .vector-div p {
        margin-bottom: 0;
    }

    /* Client review section */

    .client-review-section {
        padding: 5% 10%;
    }
    
    .client-review-section h2{
        margin-bottom: 2%;
    }
    
    .client-review-section p{
        margin-bottom: 8%;
    }

    .client-card {
        width: 45%;
        padding: 5%;
        margin-bottom: 0;
        padding-bottom: 0;
        position: relative;
    }

    .card-1 {
        float: left;
    }

    .card-2 {
        float: right;
    }

    .client-pic {
        position: absolute;
        left: -4.0rem;
        top: 2.0rem;
    }

    /* Industry section */

    .industry-section {
        padding: 5% 2%;
    }

    .industry-section h2{
        margin-bottom: 2%;
    }
    
    .industry-section p{
        margin-bottom: 8%;
    }

    .industry-card {
        width: 23%;
        padding: 2%;
        margin-right: 2.6%;
        margin-bottom: 0;
    }
    
    .ind-card-1, .ind-card-2, .ind-card-3 {
        float: left;
    } 

    .ind-card-4 {
        float: right;
        margin-right: 0;
    }

    /* Pricing section*/

    .pricing-section {
        padding: 5% 2%;
    }

    .pricing-section h2{
        margin-bottom: 8%;
    }
    
    .pricing-section p{
        margin-bottom: 8%;
    }

    .pricing-card {
        width: 32%;
        padding: 2%;
        margin-right: 2%;
        margin-bottom: 0;
    }

    .pricing-card h3 {
        margin-bottom: 15%;
    }

    .pricing-card ul {
        margin-top: 10%;
        margin-bottom: 0;
    }
    
    .pricing-card-1, .pricing-card-2 {
        float: left;
    } 

    .pricing-card-3 {
        float: right;
        margin-right: 0;
    }

    /* Booking section*/

    .booking-section {
        background: url("../images/booking-background-desktop.jpg");
        background-size: 100% 100%;
        padding: 5% 12%;
    }

    .booking-section form .booking-input {
        display: inline-block;
        width: 28%;
        padding: 1.5%;
        font-weight: bold;
        background-color: #FFFFFF;
        border: solid 1px #BDBDBD;
        border-radius: 5px;
        margin-bottom: 2%;
        margin-right: 1.5%;
    }

    .booking-section form textarea {
        width: 58% !important;
    }

    .booking-section form input[type="submit"] {
        display: block;
        width: 25%;
        padding: 2%;
        border: none;
        border-radius: 5px;
        color: #FFFFFF;
        font-size: 1.4rem;
        font-weight: bold;
        background-color: #23A6F0;
    }

    /* Contact Section */

    .contact-section {
        padding: 5% 12%;
    }

    .contact-section div {
        float: left;
        width: 60%;
    }

    .contact-section p {
        margin-bottom: 0;
    }

    .contact-section button {
        float: right;
        width: 20%;
        padding: 2%;
    }

    /* footer */
    /* links section */

    .links-section {
        padding: 5% 12%;
    }

    .links-section div {
        margin-bottom: 0;
        width: 20%;
    }

    .links-1, .links-2, .links-3, .links-4 {
        float: left;
    }

    .links-5 {
        float: right;
    }

    /* social section */
    .social-section {
        background-color: #FAFAFA;
        padding: 1.5% 12%;
    }

    .social-section p {
        color: #737373;
        width: 70%;
        float: left;
        margin-bottom: 0;
    }

    .social-section ul {
        width: 20%;
        float: right;
    }
}

