@media (min-width: 768px) {

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    nav {
        width: 100%;
        position: fixed;
        background: transparent;
    }

    .upper-nav {
        width: 20%;
        float: left;
    }

    .upper-nav h1 {
        padding: 0;
        margin-left: 30%;
    }

    .lower-nav {
        width: 40%;
        float: left;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 5%;
        font-size: 16px;
    }

    .lower-nav ul li {
        display: inline;
        padding: 0;
        margin: 0 2%;
    }

    .login {
        height: 100%;
        width: 30%;
        float: right;
        font-weight: bold;
        color: #FFFFFF;
    }

    .login button{
        height: 100%;
        width: 60%;
        color: #FFFFFF;
        font-weight: bold;
        background-color: #23A6F0;
        border: none;
        border-radius: 5px;
        margin-left: 15%;
    }

}

