/* global styles */

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    cursor: pointer;
    color: #C0C0C0;
    text-decoration: underline;
}

button:hover, .button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 8px #000000;
}

/* header */

header {
    color: #FFFFFF;
    padding: 0;
}

header nav {
    background-color: #252B42;
}

.upper-nav h1 {
    font-size: 2.4rem;
    font-weight: bold;
    padding: 4%;
    float: left;
}

.upper-nav div {
    padding: 4%;
    padding-right: 0 !important;
    float: right;
}

.upper-nav div img {
    margin-left: 8%;
    vertical-align: middle;
}

a {
    cursor: pointer;
}

.lower-nav {
    font-size: 3.0rem;
    font-weight: bold;
}

.lower-nav ul li {
    padding: 16% 0;
    text-align: center;
}

.header-background {
    color: #FFFFFF;
    font-weight: bold;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/hero_cover_mobile.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    padding: 20% 10%;
}

.header-background h2 {
    font-size: 38px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10%;
}

.header-background p {
    font-size: 2.4rem;
    text-align: center;
    margin: 0 auto;
}

.header-background button {
    display: block;
}

.quote-button {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 10%;
    width: 40%;
    padding: 3%;
    background-color: #23A6F0;
    border: none;
    border-radius: 50px;
}

.learn-button {
    color: #23A6F0;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 5%;
    width: 35%;
    padding: 2.5%;
    background: transparent;
    border: solid 2px #23A6F0;
    border-radius: 50px;
}

/* Vector section */

.vector-section {
    background-color: #252B42;
    color: #FFFFFF;
    font-weight: bold;
    padding: 20% 10%;
}

.vector-div img {
    display: block;
    margin: 0 auto;
    margin-bottom: 8%;
}

.vector-div h2 {
    font-size: 2.0rem;
    text-align: center;
    margin-bottom: 2.5%;
}

.vector-div p {
    font-size: 1.4rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20%;
}

.last-vector-div p {
    margin-bottom: 0;
}

/* Client section */

.client-review-section {
    background-color: #8EC2F2;
}

.client-review-section h2{
    color: #FFFFFF;
    font-size: 3.8rem;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 8%;
}

.client-review-section p{
    color: #FFFFFF;
    font-size: 1.6rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15%;
}

.client-card {
    background-color: #FFFFFF;
    padding: 10%;
    margin-bottom: 10%;
}

.client-card h3 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2%;
}

.client-card p {
    color: #737373;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: start;
    width: 100%;
    margin-bottom: 6%;
}

.client-card .star-rating {
    margin-bottom: 6%;
}

.client-card .client-text {
    font-weight: normal;
}

/* Industry Section */

.industry-section {
    background-color: #252B42;
}

.industry-section h2{
    color: #FFFFFF;
    font-size: 3.8rem;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 8%;
}

.industry-section p{
    color: #FFFFFF;
    font-size: 1.6rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15%;
}

.ind-card-1 {
    background: url("../images/industry-1.png");
}

.ind-card-2 {
    background: url("../images/industry-2.png");
}

.ind-card-3 {
    background: url("../images/industry-3.png");
}

.ind-card-4 {
    background: url("../images/industry-4.png");
}

.industry-card {
    background-color: #FFFFFF;
    padding: 10%;
    margin-bottom: 10%;
    background-size: 100% 100%; 
}

.industry-card h3 {
    color: #FFFFFF;
    margin-top: 95%;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10%;
}

.industry-card p {
    color: #FFFFFF;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 10%;
    width: 100%;
    text-align: start;
}

.industry-card button {
    padding: 5%;
    width: 50%;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #23A6F0;
    border: none;
    border-radius: 50px;
}

/* Pricing Section*/

.pricing-section {
    background-color: #252B42;
}

.pricing-section h2{
    color: #FFFFFF;
    font-size: 3.8rem;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 8%;
}

.pricing-section p{
    color: #FFFFFF;
    font-size: 1.6rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15%;
}

.pricing-card {
    background-color: #FFFFFF;
    padding: 10%;
    margin-bottom: 10%;
    background-size: 100% 100%; 
    border-radius: 2%;
}

.pricing-card h3{
    color: #000000;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10%;
    text-align: center;
}

.pricing-card p {
    color: #737373;
    font-weight: bold;
    margin-bottom: 12%;
    text-align: center;
}

.pricing-card .blue-text {
    color: #23A6F0;
    font-size: 3.2rem;
}

.pricing-card .blue-text sup, .pricing-card .blue-text sub {
    color: #23A6F0;
    font-size: 1.2rem;
}

.pricing-card ul {
    margin-bottom: 10%;
}

.pricing-card ul li {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 4%;
}

.pricing-card ul li p {
    width: 75%;
    display: inline-block;
    vertical-align: sub;
    text-align: start;
    color: #000000;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0;
}

.pricing-card ul li img {
    margin-right: 4%;
    vertical-align: middle;
}

.pricing-card button {
    width: 100%;
    padding: 6%;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #23A6F0;
}

.pricing-card-2 {
    position: relative;
}

.pricing-card-2 .new-tag {
    position: absolute;
    top: -2.5rem;
    right: 1.5rem;
}

/* Booking section*/

.booking-section {
    background: url("../images/booking-background-mobile.png");
    background-size: 100% 100%;
    padding: 25% 10%;
}

.booking-section h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2%;
}

.booking-section p {
    font-size: 3.8rem;
    font-weight: bold;
    margin-bottom: 8%;
}

.booking-section form .booking-input {
    width: 100%;
    padding: 4%;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: #FFFFFF;
    border: solid 1px #BDBDBD;
    border-radius: 5px;
    margin-bottom: 6%;
    color: #BDBDBD;
}

.booking-section form .booking-input::placeholder {
    color: #BDBDBD;
}

.booking-section form textarea {
    min-height: 140px;
}

.booking-section form input[type="submit"] {
    width: 100%;
    padding: 6%;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #23A6F0;
}

/* Contact Section */

.contact-section {
    background-color: #FAFAFA;
    padding: 10% 20%;
}

.contact-section h2 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 4%;
}

.contact-section p {
    color: #737373;
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 15%;
}

.contact-section button {
    width: 60%;
    padding: 6%;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #23A6F0;
}

/* Footer */

/* links section */

.links-section {
    background-color: #252B42;
    padding: 10%;
}

.links-section div {
    margin-bottom: 10%;
}

.links-5 {
    margin-bottom: 0 !important;
}

.links-section h2{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 8%;
}

.links-section ul li {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 5%;
}

.links-section ul li img {
    margin-right: 5%;
    vertical-align: middle;
}

.links-section ul li p {
    width: 75%;
    display: inline-block;
    vertical-align: middle;
    text-align: start;
    color: #000000;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0;
}

/* social section */

.social-section {
    background-color: #252B42;
    padding: 10%;
}

.social-section p {
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15%;
}

.social-section ul li {
    display: inline-block;
    margin-right: 5%;
}

.social-section ul li img{
    vertical-align: middle;
}