header {
    color: #FFFFFF;
    padding: 0;
}

header nav {
    background-color: #252B42;
}

.upper-nav h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 4%;
}

.upper-nav div {
    padding: 4%;
}

.upper-nav div img {
    margin: 0 5%;
}

a {
    cursor: pointer;
}

.lower-nav {
    font-size: 30px;
    font-weight: bold;
}

.lower-nav ul li {
    padding: 16% 0;
    text-align: center;
}

.header-background {
    color: #FFFFFF;
    font-weight: bold;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("/images/hero_cover_mobile.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    padding: 20% 0;
}

.header-background h2 {
    font-size: 38px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10%;
}

.header-background p {
    font-size: 28px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.header-background button {
    display: block;
}

.quote-button {
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 10%;
    width: 40%;
    padding: 3%;
    background-color: #23A6F0;
    border: none;
    border-radius: 50px;
}

.learn-button {
    color: #23A6F0;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 5%;
    width: 35%;
    padding: 2.5%;
    background: transparent;
    border: solid 2px #23A6F0;
    border-radius: 50px;
}

/* Vector section */

.vector-section {
    background-color: #252B42;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 20%;
}

.vector-div img {
    display: block;
    margin: 0 auto;
    margin-bottom: 8%;
}

.vector-div h3 {
    text-align: center;
    margin-bottom: 2.5%;
}

.vector-div p {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    margin-bottom: 20%;
}

/* Client section */

.client-review-section {
    background-color: #8EC2F2;
}

.client-review-section h2{
    color: #FFFFFF;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 8%;
}

.client-review-section p{
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15%;
}

.client-card {
    background-color: #FFFFFF;
    padding: 10%;
    margin-bottom: 10%;
}

.client-card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2%;
}

.client-card p {
    color: #737373;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
    width: 100%;
    margin-bottom: 6%;
}

.client-card .star-rating {
    margin-bottom: 6%;
}

.client-card .client-text {
    font-weight: normal;
}

/* Industry Section */

.industry-section {
    background-color: #252B42;
}

.industry-section h2{
    color: #FFFFFF;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 8%;
}

.industry-section p{
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15%;
}

.ind-card-1 {
    background: url("/images/industry-1.png");
}

.ind-card-2 {
    background: url("/images/industry-2.png");
}

.ind-card-3 {
    background: url("/images/industry-3.png");
}

.ind-card-4 {
    background: url("/images/industry-4.png");
}

.industry-card {
    background-color: #FFFFFF;
    padding: 10%;
    margin-bottom: 10%;
    background-size: 100% 100%; 
}

.industry-card h3 {
    color: #FFFFFF;
    margin-top: 95%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10%;
}

.industry-card p {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10%;
    width: 100%;
    text-align: start;
}

.industry-card button {
    padding: 5%;
    width: 50%;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #23A6F0;
    border: none;
    border-radius: 50px;
}

/* Pricing Section*/

.pricing-section {
    background-color: #252B42;
}

.pricing-section h2{
    color: #FFFFFF;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 8%;
}

.pricing-section p{
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15%;
}

.pricing-card {
    background-color: #FFFFFF;
    padding: 10%;
    margin-bottom: 10%;
    background-size: 100% 100%; 
    border-radius: 2%;
}

.pricing-card h3{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10%;
    text-align: center;
}

.pricing-card p {
    color: #737373;
    font-weight: bold;
    margin-bottom: 12%;
    text-align: center;
}

.pricing-card .blue-text {
    color: #23A6F0;
    font-size: 32px;
}

.pricing-card .blue-text sup, .pricing-card .blue-text sub {
    color: #23A6F0;
    font-size: 14px;
}

.pricing-card ul {
    margin-bottom: 10%;
}

.pricing-card ul li {
    font-weight: bold;
    margin-bottom: 4%;
}

.pricing-card ul li img {
    margin-right: 4%;
}

.pricing-card button {
    width: 100%;
    padding: 6%;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    background-color: #23A6F0;
}