header {
    background-color: #252B42;
    color: #FFFFFF;
    padding: 4%;
}

.upper-nav h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 1%;
}

.upper-nav div img {
    margin: 0 5%;
}

a {
    cursor: pointer;
}

.lower-nav {
    font-size: 30px;
    font-weight: bold;
}

.lower-nav ul li {
    padding: 16% 0;
    text-align: center;
}